.btn-create-visit{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#ffffff;
  text-decoration: none;
  height: 50px;
  width: 140px;
  background: #E1615D;
  border-radius: 2px;
  }
.create-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  padding: 14px 58px 19px 59px;
  background-color: #DEDEDE;
  cursor: pointer;
  color: #BBBBBB;
  border: none;
  border-radius: 5px;
  font: 16px Monserrat,sans-serif;

}

.visit-card__btn-showhide{
  align-self: flex-start;
  color: #E1615D;
  font-size: 12px;
 cursor: pointer;
  display: inline;
  background-color: transparent;
  border: none;
  outline: none;
}

