.main {
  height: 100vh;
  background: linear-gradient(to top, #BED8FF 33.61%, #fff 123.33%);

}

.visit-desk {
  box-sizing: border-box;
  padding: 41px 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 580px;
  background-color: #F2F7FF;
}

.main-message {
  color: #929292;

}

.modal-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(190, 216, 255, 0.6);
}

.modal-modal {
  display: none;
  align-items: center;
  z-index: 9999999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
}

.modal-close {
  position: absolute;
  right: 21px;
  top: 19px;
  font-size: 35px;
  color: #656565;

}

.modal-close:hover {
  cursor: pointer;
}

.doc-form {
  display: flex;
  padding: 75px;
  flex-direction: column;
  justify-content: center;
}

.title-form {
  margin-bottom: 31px;
  font-size: 18px;
  font-weight: 500;
}

.doc-textarea {
  padding: 10px 15px 16px 15px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  border: 1.5px solid transparent;
  max-width: 100%;
  background: #EEF4FF;
  font: 500 14px $main-font;


  &::placeholder {
    color: #C1C1C1;
    font: 500 14px $main-font;
  }
}

.doc-input::placeholder {
  color: #c1c1c1;
  font: 500 14px $main-font;
}

.doc-input[type=text] {
  color: #656565;
  font: 500 14px $main-font;
}

.doc-input {
  display: block;
  padding: 15px 15px 16px 15px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  background: #EEF4FF;
  outline: none;
  resize: none;
  border-radius: 2px;
  border: 1.5px solid transparent;

  &:focus {
    border: 1.5px solid #A9C2E8;
    box-sizing: border-box;
  }
}


.doctor {
  background-color: #EEF4FF;
  text-align: center;
  width: 375px;
  font: 500 14px $main-font;
  padding: 15px;
  border: 1.5px solid transparent;
border-radius: 2px;
}

.visit-card:hover {
  box-shadow: 0 0 30px rgba(193, 195, 206, 0.6);
  cursor: pointer;
}

.visit-card {
  box-sizing: border-box;
  width: 285px;
  min-height: 140px;
  position: relative;
  padding: 30px 20px 15px;
  margin: 0 30px 30px 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(193, 195, 206, 0.3);

  &__property {
    font: 500 12px $main-font;
    color: #656565;
  }

  &__hidden-property {
    display: none;

    & li {
      margin-bottom: 5px;
      font: 14px $main-font;
    }

    &.active {
      display: block;


    }
  }

  &__patient-name {
    font: 500 18px $main-font;
    color: #222222;
    margin-bottom: 5px;

  }

  &__doctor-name {
    font: 14px $main-font;
    color: #656565;
    margin-bottom: 16px;

  }

  &__line {
    width: 95%;
    height: 1px;
    background-color: #e1e1e1;
    margin: 20px 0 10px 0;
  }

  &__cross-close {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 25px;
    color: #656565;
  }
}
