.main{
  height: 100vh;
  background: linear-gradient(360deg, #BED8FF 33.61%, rgba(255, 255, 255, 0) 123.33%), #DCE9FD ;

}
.visit-desk{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 580px;
  background-color:#ffffff;
}
.main-message{
  color: #929292;

}

.modal-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-modal {
  display: none;
  align-items: center;
  z-index: 9999999;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
}

.modal-close {
  position: absolute;
  top: 21px;
  right: 20px;
  color:#929292;

}

.modal-close:hover {
  cursor: pointer;
}
.doc-form{
  display: flex;
  padding: 75px;
  flex-direction: column;
  justify-content: center;
}

.title-form{
  margin-bottom: 31px;
  font-size: 18px;
}

.doc-input{
  display: block;
  padding: 5px;
  margin: 5px;
  width: 98%;
  box-sizing: border-box;
  background: #EEF4FF;
  outline: none;
  border-width: 0;
  resize: none;
}
.doc-input:focus{

}
.doctor{
  text-align: center;
  width: 375px;
  height: 40px;

}

.visit-card{
  position: relative;
  padding: 40px;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 30px rgba(193, 195, 206, 0.6);
}

.hidden{
  display: none;
  padding-bottom: 7px;
}
.not-hidden{
  font-size: 18px;
  padding-bottom: 7px;
}
.name{
  font-size: 14px;
  color: #656565;
  padding-bottom: 7px;
}

.therapist-card-ul{
  padding-right: 100px;
  border-bottom: 1px solid #DEDEDE;

}


