@import "variables";
@import "reset";
@import "sections/sections";
@import "components/components";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
    



body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1138px;
  margin: 0 auto;
}




@media only screen and (max-width: 550px) {
  .modal-modal {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}


